*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar{
    height: 70px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo{
    height: 50px;
    width: 135px;
    margin-left: -1%;
    background-color:#0f1111 ;
}

.logo{
    background-image: url("Images/amazon-logoo-removebg-preview.png");
    background-size:cover;
    height: 40px;
    width: 140px;
    margin-left: -2px;
}

.border{
    border: 1.5px solid transparent;
}

.border:hover{
    border: 1.5px solid white;
    padding: 4px;
}


/* box-2  :-*/
/* .nav-add{
    justify-content: space-evenly;
} */
.add-first{
    color: #ccc;
    font-size: 0.85rem;
    margin-left: 20px;
}

.add-second{
    font-size: 1rem;
    margin-left: 2px;
}

.add-icon{
    display: flex;
    align-items: center;
}


/* box-3 */
.nav-search{
    display: flex;
    height: 40px;
    width:550px;
    border-radius: 5px;
    justify-content: space-evenly;
    /* margin-left: 0.5%; */
}

.search-select{
    width:60px;
    background-color: #eaeaea;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
    /* color: #0f1111; */
    /* justify-content: center; */
    text-align: center;
    border-right: 0.1px solid rgb(190, 190, 190); 
    color: rgb(81, 81, 81);
}

.search-txt{
    font-weight:lighter;
}

.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
    padding-left:10px;
    font-weight: 500;
}

.search-icon{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FEBD69;
    color: #000;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: larger;
}

.nav-search:hover{
    border: 2px solid orange;
}

/* box-4.1: */
.nav-flag-lang{
    background-color: black;
    color: white;
    border: none;
}


/* box 4 */
.span{
    font-size:x-small;   
}

.nav-second{
    font-weight: bold;
    font-size:medium;
}


/* box 6:- */
.nav-cart i{
    font-size: 30px;
}

.nav-cart{
    font-weight: 700;
    font-size: 1.10rem;
}


/* panel */
.panel{
    height: 40px;
    background-color: #232f3e;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.panel-ops p{
    display: inline;
    margin-left: 15px;
}

.panel-ops{
    width: 70%;
    font-size: 0.85rem;
}

.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}


/* hero-section */
.hero-section{
    background-image: url("Images/mainPage_image.jpg");
    background-size: cover;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-msg{
    display: flex;
    color: #000;
    background-color: #fff;
    justify-content: center;
    align-items: center ;
    height: 40px;
    width: 80%;
    margin-bottom: 25px;
    /* font-size: 0.85rem; */
}

.hero-msg a{
    color: #007185;
}


/* box model- new section */
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color:#e2e7e6;
}
.box{
    /* border: 2px solid black; */
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0 15px;
    margin-top: 15px;
}

.img-box{
    height: 300px;
    background-size:cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}

.box-content p{
    color: #007185;
}


/* footer */
.footer{
    margin-top: 15px;
}
.foot-panel-1{
    background-color: #37475a;
    height: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-size: 0.85rem; */
}

.foot-panel-2{
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}

ul{
    margin-top: 20px;
}

ul li{
    display: flex;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #ddd;
}

.foot-panel-3{
    background-color:#222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    background-image: url("Images/amazon-logoo-removebg-preview.png");
    background-size: cover;
    height: 50px;
    width: 120px;
}

.foot-panel-4{
    background-color: #0f1111;
    color: white;
    /* display: flex;
    justify-content: center; */
    height: 80px;
    text-align: center;
    
    font-size: 0.7rem;
}

.pages{
    padding-top: 25px;
}

.copyright{
    padding-top: 25px;
}